<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-3}</string>
    <key>spriteSize</key>
    <string>{356,118}</string>
    <key>spriteSourceSize</key>
    <string>{360,124}</string>
    <key>textureRect</key>
    <string>{{0,2},{356,118}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-7}</string>
    <key>spriteSize</key>
    <string>{1702,328}</string>
    <key>spriteSourceSize</key>
    <string>{1716,208}</string>
    <key>textureRect</key>
    <string>{{0,122},{1702,328}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001_old.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{1702,328}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{1704,122},{1702,328}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,-7}</string>
    <key>spriteSize</key>
    <string>{736,140}</string>
    <key>spriteSourceSize</key>
    <string>{748,154}</string>
    <key>textureRect</key>
    <string>{{0,452},{736,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{350,230}</string>
    <key>spriteSize</key>
    <string>{1548,162}</string>
    <key>spriteSourceSize</key>
    <string>{592,222}</string>
    <key>textureRect</key>
    <string>{{0,752},{1548,162}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{7,-6}</string>
    <key>spriteSize</key>
    <string>{533,156}</string>
    <key>spriteSourceSize</key>
    <string>{547,168}</string>
    <key>textureRect</key>
    <string>{{0,594},{533,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_LaunchSheet-uhd.png</string>
   <key>size</key>
   <string>{3408,916}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
