<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{178,60}</string>
    <key>spriteSourceSize</key>
    <string>{180,62}</string>
    <key>textureRect</key>
    <string>{{0,2},{178,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{854,135}</string>
    <key>spriteSourceSize</key>
    <string>{860,106}</string>
    <key>textureRect</key>
    <string>{{0,64},{854,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{370,72}</string>
    <key>spriteSourceSize</key>
    <string>{376,78}</string>
    <key>textureRect</key>
    <string>{{856,64},{370,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{40,110}</string>
    <key>spriteSize</key>
    <string>{1056,108}</string>
    <key>spriteSourceSize</key>
    <string>{300,122}</string>
    <key>textureRect</key>
    <string>{{0,201},{1056,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{3,-3}</string>
    <key>spriteSize</key>
    <string>{268,80}</string>
    <key>spriteSourceSize</key>
    <string>{274,86}</string>
    <key>textureRect</key>
    <string>{{1228,64},{268,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
   <key>size</key>
   <string>{1498,311}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
  </dict>
 </dict>
</plist>
